body{
    overflow-x: hidden;
    background-color:black;
}
*{
    color:white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight:normal;
}

.font_red{
    color: #D12C2F;
    
}

header{
    height: 10vh;
    display: flex;
    justify-content:space-between;  
    padding: 2vh;
    border-bottom: 3vh solid #d12c2f9d;
    margin-left: 0;
    
}

#header_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header_menu a{
    text-decoration: none;
    margin-left: 2vh;
    border-right: 0.5vh solid #D12C2F;
    padding: 2vh;
    font-size: 3vh;
}
#header_menu a:last-child{
    border-right: 0.5vh solid #000000;
}
.header_menu_link:hover{
    color: #D12C2F;
}
#logo_comprido_header{
    height: 8vh;
}
#header_linha_corte{
    border-bottom: 1.5vh solid #d12c2f6e;
    margin-left: -1vh;
    margin-top:2vh
}


.jovens, .casedesucesso, .jovens_org{
    padding:15vh;
    padding-top: 13vh;
    display: flex;
    justify-content:space-between;  
    border-top: 1.5vh solid #d12c2f6e;
    margin-left: -1vh;
    margin-top: 3vh;
    position: relative;

}
.jovens_org{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    text-align: center;
}
.jovens_parteescrita{
    z-index: 2;
    width: 40%;
    
}
.jovens_parteescrita_texto{
    line-height: 1.8;
    font-size: 3vh;
    text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
        
}

h1{
    font-weight:bolder;
    font-size: 5vh;
     text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
    
    
}
.jovens_parteescrita h2{
    font-size: 5vh;
    margin-top: -6vh;
    padding-left: 7vh;
    width: 100%;
}
.jovens_parteescrita h2:after {
    content: "";
    margin-top: -3vh;
    margin-left: 25vh;
    display: block;
    width: 160vh;
    height: 0.5vh;
    background: #D12C2F;
    
}

#jovens_parteescrita_frase{
    background-color: #D12C2F;
    margin-top: 10vh;
    padding: 2vh;
    width: fit-content;
    margin-left: -15vh; /* adjust based on your section padding */
    text-align: left;
    border-radius: 0 2vh 2vh 0;
    color: #000;
}


.jovens_invisivel_foto_projetos, #jovens_foto_equipe{
    display: block;
    max-width: 100%;
    height: 60vh;
}
#jovens_foto_equipe {
    height: 70vh; 
    margin: 6vh; 
    right:0;
    z-index: 2;
    max-width: 100%;
}
#jovens_foto_org{
    height:90vh;
}

#jovens_invisivel{ 
    border: 0vh; 
    margin-top: -23vh; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
}
.img_box {
    position: relative;
    flex: -1 -1 calc(50% - 10px); /* 2 per row */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* dark effect */
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 0.3s;
}
.overlay p{
    width: 80%;
    line-height: 5vh;
}
.overlay:hover {
    transform: scale(1.05);
}

/* hover effect */
.img_box:hover .overlay {
    opacity: 1;
}
.img_box img {
    transition: transform 0.3s;
}

.img_box:hover img {
    transform: scale(1.05);
}

/* 
.casedesucesso{
    display: flex;
    align-items: center;
    border-top: 1.5vh solid #0000006e;
} */

#downloadportfolio{
    padding: 4vh;
    height: 6vh;
    align-content: center;
    background-color: #D12C2F;
    border: 0.5vh  solid black;
    border-radius: 2vh;
    text-decoration: none;
    margin-bottom: 2vh;
    margin-top: 4vh;
}
#downloadportfolio:hover{
    background-color: black;
    color: #D12C2F;
    border: 0.5vh  solid #D12C2F;
    border-radius: 2vh;
}





#garra, #garra2, #garra3 {
    height:40vh;
    margin-top: 47vh;
    position: absolute;
    float: right;
    opacity: 0.2;
    z-index: 1;
    
}
#garra{
    right: 0vh;
}
#garra2{
    margin-left: -20vh;  
    height:70vh; 
    margin-top: -7vh;
    z-index: -1;
}
#garra3{
    height:100vh;
    left:0;
    margin-left: -20vh;
    margin-top: -20vh;
    z-index: -1;    
}




@media (max-width: 900px) {
    .jovens_invisivel_foto_projetos{
        height: auto;
    }
    .img_box {
        flex: 1 1 50%;
        align-self: center;
    }
    .jovens_parteescrita h2:after {
        width: 50vh;
    }
  .jovens {
        display: block;
        align-items: center;
        
        padding: 10vh;
    }
  .jovens_parteescrita {
        width: 100%;
        margin-bottom: 5vh;
        
    }
    .jovens_parteescrita_texto{
        font-size: 3vh; 
        text-align: center;
    }
    
    #jovens_parteescrita_titulo{
        margin-top: -3vh;
        text-align: center;
    }
    h1{
        float: none;
    }
    #downloadportfolio{
        display: block;
        margin: 4vh auto;
        text-align: center;
        width: fit-content;
        position: static;
    }
    .jovens_slider{
        width: 100%;
    }
    #garra{
        opacity: 0;
    }
    #jovens_foto_equipe, #jovens_foto_org{
        display: block;
        margin: 0;
        height: auto;
        margin-top: 10vh;
        margin-bottom: -5vh;
        max-width: 100%;
    }
    #jovens_foto_org{
        margin: 0;
    }
    
    #jovens_invisivel{
        margin-top: -15vh; 
    }
    .jovens_org{
        padding: 0vh;
        padding-top: 10vh;
    }
    #header_menu{
    visibility: hidden;
    }
    #jovens_parteescrita_frase{
        font-size: 2vh;
        width: 100%;
        text-align: center;
        margin-left: -12vh;
    }
}


@media (max-width: 500px) {
    #header{
        height: 7vh;
    }
    #header_menu a{
        font-size: 2vh;
    }
    #logo_comprido_header{
        height: 6vh;
    }
    #jovens_invisivel{
        margin-top: -7vh; 
    }
    .jovens_parteescrita h2:after {
        width: 20vh;
    }
    .jovens{
        padding: 5vh;
    }
    
  .jovens_parteescrita {
        width: 100%;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }
    .jovens_parteescrita_texto{
        font-size: 2vh;
        
    }
    #jovens_parteescrita_frase{
        font-size: 2vh;
        width: 90%;
        text-align: center;
        margin-left: -7vh;
    }
    h1{
        float: none;
    }
    #garra{
        opacity: 0;
    }
    #jovens_foto_equipe, #jovens_foto_org{
        display: block;
        margin: 0;
        height: auto;
        
        margin-bottom: -5vh;
        max-width: 100%;
    }

    .jovens_org{
        padding: 0vh;
        padding-top: 5vh;
    }
}